<article id="<%= @word.id %>">
  <header>
    <h1>
      #<%= @word.id %>
      <%= @word.name %>
      <small>♪<%= @word.pronunciation %></small>
    </h1>
    <p><%= @word.title %></p>
  </header>
  <section>
    <%= @word.description.html_safe %>
  </section>
</article>
<footer class="cf">
  <div class="r">
    <%= link_to 'Edit', edit_word_path(@word) %> |
    <%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="l">
    <%= link_to 'Back', words_path %>
  </div>
</footer>
